@import "./reset";

$primary-color: #601466;
$secondary-color: #dbd599;
$accent-color: #fff340;

$null-color: #707070;

$light-background-color: #f4e1f7;
$dark-background-color: #220f26;

$light-text: #f1e6f2;
$dark-text: #380d40;

$banner-height: 320px;
$tools-color: #331036;

$card-width: 120px;
$card-height: 168px;

$card-border-radius: 3mm;
$card-border: 5px;

// $popup-height: 58vh;
$popup-height: calc(50vh + var(--card-height) / 2);
$popup-width: calc(#{$popup-height} * 5 / 7);

$tools-width: 300px;

$header-height: 12vh;
$footer-height: 15vh;

$builder-height: 250vh;
$deck-height: calc(#{$builder-height} - #{$banner-height});

$ghost-opacity: 0.5;

@font-face {
  font-family: "Cinzel";
  src: url("../utils/fonts/Cinzel/Cinzel-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-stretch: 25% 151%;
}

$header-font: "Cinzel";

#root {
  position: relative;
  background-color: $light-background-color;
  --card-width: #{$card-width};
  --card-height: #{$card-height};
  --card-name-size: 18px;
  --quant-button-size: 40px;
  --quant-size: 30px;
  --line-height: 20px;
  width: 100%;
}

.magentaLogo {
  font-family: $header-font;
  color: $light-text;
  display: flex;
  flex-direction: row;
}

.logoFlair {
  color: lighten($primary-color, 15%);
}

.topLogo {
  margin-top: 10px;
  font-size: 32px;
  @include respond-to("small") {
    font-size: 40px;
  }
  @include respond-to("medium") {
    font-size: 48px;
  }
  font-weight: 600;
}

.bottomLogo {
  font-size: 60px;
  @include respond-to("medium") {
    font-size: 72px;
  }
  @include respond-to("large") {
    font-size: 84px;
  }
  font-weight: 700;
  padding: 16px;
}

.navContainer {
  color: $light-text;
  background-color: transparent;
  display: flex;
  text-align: center;
  justify-content: space-between;
  height: $header-height / 1.2;
  @include respond-to("small") {
    height: $header-height;
  }
  align-items: center;
  width: 100%;
  padding: 0 4vw;
  z-index: 10;
  position: fixed;
  top: 0;
}

.navColor {
  width: 100%;
  height: 100%;
  background-color: darken($primary-color, 10%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.authLinks {
  position: relative;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.authLink {
  font-size: 18px;
  @include respond-to("small") {
    font-size: 21px;
  }
  @include respond-to("medium") {
    font-size: 24px;
  }
  @include respond-to("large") {
    font-size: 28px;
  }
  color: $light-background-color;
  font-family: $secondary-font;
}

.userButton {
  font-size: 24px;
  font-family: $header-font;
}

.mainPage {
  width: 100%;
  position: relative;
}

.headerBody {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../utils/images/HeroImage_Smoke.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 200;
}

.heroText {
  font-family: $header-font;
  font-size: 48px;
  margin: 0 auto;
  padding-top: 30vh;
  @include respond-to("small") {
    font-size: 60px;
  }
  @include respond-to("medium") {
    font-size: 72px;
    padding-top: 35vh;
  }
  @include respond-to("large") {
    font-size: 84px;
  }
  width: 80%;
  color: $light-text;
}

.taglineText {
  font-size: 24px;
  @include respond-to("small") {
    font-size: 28px;
  }
  @include respond-to("medium") {
    font-size: 32px;
  }
  @include respond-to("large") {
    font-size: 36px;
  }
  color: $light-text;
  margin-top: 2vh;
  font-family: $body-font;
  line-height: 32px;
}

.headerButtonsContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 10vh;
  width: 80%;
  @include respond-to("small") {
    flex-direction: row;
    margin-top: 18vh;
    width: 70%;
  }
  justify-content: space-evenly;
}

.headerButton {
  position: relative;
  height: 54px;
  border-radius: 13px;
  width: 230px;
  @include respond-to("small") {
    width: 272px;
  }
  font-size: 24px;
  margin: 12px 0;
}

.builderEnter {
  color: $dark-background-color;
  background-color: $accent-color;
  font-weight: bold;
  opacity: 1;
  visibility: visible;
}

.mainBuilderEnter {
  box-shadow: 0px 0px 9px 4px $primary-color;
}

.salesPitchDiv {
  height: 100vh - $header-height - $footer-height;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.salesPitchImage {
  object-fit: cover;
  width: 100%;
  height: inherit;
  position: absolute;
  bottom: 0;
  object-position: 50% 50%;
  filter: saturate(110%) contrast(110%);
  background-color: rgba(0, 0, 0, 0.75);
}

.salesPitchCover {
  width: 100%;
  height: inherit;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.salesPitchCTA {
  margin: auto;
  text-align: center;
}

.salesPitchTitle {
  position: relative;
  text-align: center;
  font-family: $header-font;
  font-size: 50px;
  @include respond-to("small") {
    font-size: 58px;
  }
  @include respond-to("medium") {
    font-size: 68px;
  }
  color: $light-text;
  margin-bottom: 84px;
}

.salesPitchButton {
  position: relative;
  margin-top: 84px;
}

.deckButtonContainer {
  display: flex;
  align-items: center;
}

.deckListLink {
  font-size: 22px;
  font-family: $header-font;
  font-weight: 400;
  border: 1px solid desaturate($accent-color, 5%);
  color: desaturate($accent-color, 5%);
  background-color: $dark-background-color;
  text-decoration: none;
  border-radius: 13px;
  z-index: 2;
  height: 40px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.deckScrollList {
  height: 330px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
}

.blockedDeckList {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: darken($dark-background-color, 30%);
  opacity: 0.4;
  font-size: 28px;
  font-family: $header-font;
}

.blockedDeckText {
  margin: auto;
  color: $light-text;
}

.deckPageBlock {
  height: inherit;
}

.deckSlotContainer {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  height: 260px;
  width: 300px;
  margin-left: 16px;
  border-radius: 8px;
  flex: 0 0 auto;
}

.selectedDeck {
  background-image: linear-gradient(
    to bottom,
    hsla(56, 100, 80, 1),
    hsla(56, 40, 0, 0)
  );
}

.deckRef {
  height: 85%;
  width: 85%;
  margin: 0 auto;
}

.deckListDropdown {
  border: 1px solid desaturate($accent-color, 5%);
  width: 80px;
  cursor: pointer;
  margin-left: -30px;
  background-color: desaturate($accent-color, 5%);
  z-index: 1;
  border-radius: 13px;
  height: 42px;
}

.deckButton {
  opacity: 1;
  margin: auto;
  border-radius: 2px;
  cursor: pointer;
  height: 100%;
  width: 100%;

  filter: saturate(120%) contrast(120%);
  box-shadow: 0px 0px 12px 3px hsla(0, 0, 0, 0.7);
}

.deckSlotName {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 64px);
  margin: 24px 32px;
  text-align: left;
  color: $light-text;
  font-size: 28px;
  font-family: $header-font;
  word-wrap: break-word;
  pointer-events: none;
}

.deckSlotCover {
  position: absolute;
  pointer-events: none;
  top: 7.5%;
  left: 7.5%;
  height: 85%;
  width: 85%;
  background-image: linear-gradient(
    to bottom,
    hsl(0, 0%, 12%) 0%,
    hsla(0, 0%, 12%, 0.992) 5%,
    hsla(0, 0%, 12%, 0.97) 10%,
    hsla(0, 0%, 12%, 0.935) 15%,
    hsla(0, 0%, 12%, 0.889) 20.2%,
    hsla(0, 0%, 12%, 0.832) 25.5%,
    hsla(0, 0%, 12%, 0.766) 31%,
    hsla(0, 0%, 12%, 0.693) 36.8%,
    hsla(0, 0%, 12%, 0.613) 43%,
    hsla(0, 0%, 12%, 0.529) 49.5%,
    hsla(0, 0%, 12%, 0.441) 56.5%,
    hsla(0, 0%, 12%, 0.352) 64%,
    hsla(0, 0%, 12%, 0.261) 72%,
    hsla(0, 0%, 12%, 0.172) 80.7%,
    hsla(0, 0%, 12%, 0.084) 90%,
    hsla(0, 0%, 12%, 0) 100%
  );
}

.decklistEnter {
  color: $accent-color;
  background-color: transparent;
  border: 2px solid $accent-color;
}

.contentContainer {
  width: 100%;
  background-color: $light-background-color;
  color: $dark-text;
}

.featureHeader {
  font-family: $header-font;
  font-size: 48px;
  @include respond-to("small") {
    font-size: 52px;
  }
  @include respond-to("medium") {
    font-size: 58px;
  }
  @include respond-to("large") {
    font-size: 64px;
  }
  font-weight: bold;
  margin: 80px auto -40px auto;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: $primary-color;
}

.infoContainer {
  width: 100%;
  min-height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  @include respond-to("large") {
    flex-direction: row;
  }
  align-items: center;
  text-align: left;
}

.reverseInfoContainer {
  text-align: right;
  background-color: $dark-background-color;
  color: $light-text;
}

.featureContainer {
  width: 80%;
  @include respond-to("large") {
    width: 30%;
  }
}

.featureTitle {
  font-family: $header-font;
  font-size: 40px;
  @include respond-to("small") {
    font-size: 44px;
  }
  @include respond-to("medium") {
    font-size: 50px;
  }
  @include respond-to("large") {
    font-size: 58px;
  }
  margin: 20px 0;
  font-weight: 550;
}

.featureBody {
  font-family: $body-font;
  line-height: 28px;
  font-size: 20px;
  @include respond-to("medium") {
    font-size: 28px;
    line-height: 36px;
  }
}

.featureMockup {
  width: 80vw;
  @include respond-to("large") {
    width: 45vw;
  }
  height: auto;
}

.beforeMockup {
  display: none;
  @include respond-to("large") {
    display: inline-block;
  }
}

.afterMockup {
  display: inline-block;
  @include respond-to("large") {
    display: none;
  }
}

.builderPage {
  width: 100%;
  margin: 0 auto;
  background-color: $dark-background-color;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  border: none;
}

.deckListPage {
  width: 100%;
  background-color: $dark-background-color;
}

.deckListUser {
  color: $light-text;
  font-family: $header-font;
  font-size: 48px;
  margin: 60px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: $primary-color;
}

.deckInventory {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 40px 115px;
}

.errorContainer {
  display: flex;
  height: 100vh;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.errorMessage {
  font-size: 36px;
  margin: auto;
  width: 100%;
}

.builder {
  height: 150vh;
  position: relative;
  z-index: 0;
}

/* DECK BUILDER */

.builderContainer {
  background-color: $dark-background-color;
  z-index: 11;
  width: 100%;
  min-height: $builder-height;
}

.deckBanner {
  position: relative;
  height: $banner-height;
  width: 100%;
  background-color: $primary-color;
}

.deckInfo {
  width: 65vw;
  padding-left: 84px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}

.deckNameDisplay {
  display: flex;
  justify-content: flex-start;
}

.deckNameField {
  border: none;
  background-color: transparent;
  font-size: 56px;
  font-family: $header-font;
  color: $light-background-color;
  width: 100%;
}

.deckNameField::placeholder {
  color: $light-background-color;
  opacity: 1;
}

.deckFormatContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: $dark-background-color;
  font-family: $header-font;
  color: $light-background-color;
  width: 50%;
}

.formatHeader {
  font-family: $header-font;
  font-size: 24px;
}

.formatInput {
  border: none;
  background-color: transparent;
  font-size: 24px;
  font-family: $header-font;
  color: $light-text;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  position: relative;
  text-overflow: ellipsis;
}

.menuDownArrow {
  margin: auto 8px;
  width: 18px;
  height: auto;
}

.deckListArrow {
  width: 30px;
  margin-top: 12px;
  margin-left: 34px;
  transform: rotate(180deg);
}

.deckListArrowReverse {
  margin-top: 16px;
  transform: rotate(0deg);
}

.setArrow {
  width: 24px;
  height: auto;
  position: absolute;
  right: 8px;
  top: 58px;
  cursor: pointer;
}

.formatOptionContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 46px;
  left: 0;
  background-color: $dark-background-color;
  border: 1px solid grey;
  z-index: 10;
  text-align: left;
  padding: 6px;
  padding-right: 16px;
}

.formatOption {
  padding: 6px 4px;
  margin: 2px 0;
  color: $light-text;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
}

.formatOption:hover {
  background-color: grey;
}

.customFormatOption {
  border: 1px solid darkgrey;
}

.selectedFormat {
  color: $dark-background-color;
  background-color: $light-background-color;
}

.cardCount {
  color: $light-background-color;
  text-align: left;
  margin: auto 0;
  font-size: 28px;
  text-indent: 40px;
  font-family: $header-font;
}

.deckArtCover {
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 500px;
}

.deckArt {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  filter: saturate(110%) contrast(110%);
  opacity: 0.6;
}

.deckColorContainer {
  position: absolute;
  bottom: 0;
  right: 0;
}

.hoverArt {
  border: 2px dotted $light-background-color;
  opacity: 0.8;
}

.builderExit {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 48px;
  width: auto;
  cursor: pointer;
  fill: purple;
  color: purple;
  border: purple;
}

.boardSelector {
  position: absolute;
  left: 84px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
}

.boardTab {
  background-color: hsla(58, 50, 70, 1);
  color: $primary-color;
  font-size: 22px;
  font-weight: bold;
  font-family: $header-font;
  border-radius: 8px 8px 0 0;
  padding: 12px 20px;
  margin-right: -12px;
  position: relative;
  text-decoration: none;
  display: inline-block;
  border: 2px solid $dark-background-color;
  border-bottom: none;
  text-indent: 8px;
  box-shadow: 0px 0px 4px 1px $dark-background-color;
}

.unselectedTab:hover {
  background-color: $accent-color;
  color: $dark-background-color;
}

.selectedTab {
  background-color: $dark-background-color;
  color: $accent-color;
  z-index: 9;
}

.deckContainer {
  position: relative;
  min-height: $deck-height;
  box-shadow: 0px 4px 12px -4px $primary-color;
  padding: 0 4%;
}

.emptyDeck {
  color: white;
  font-size: 44px;
}

.settingsCloak {
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

//TYPES

.typeGrid {
  display: flex;
  width: 100%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  transition-delay: 0.5s;
}

.skinnyGrid {
  width: calc(100% - 500px);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.typeGridColumn {
  padding-right: 10px; /* gutter size */
  background-clip: padding-box;
}

.typeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  column-gap: 8px;
  min-height: var(--card-height) / 2;
}

.typeHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  align-items: center;
  z-index: 1;
}

.dragType {
  border: 3px dotted grey;
  border-top: none;
  position: relative;
  background-image: rgb(255, 255, 255);
}

.dragType > * {
  // opacity: 0;
  visibility: hidden;
}

.dragType > * > * {
  opacity: 0;
  visibility: hidden;
}

/* Arrow Experiment */

.arrow-down {
  visibility: hidden;
  width: 30px;
  height: 30px;
  position: relative;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.arrow-down:before,
.arrow-down:after {
  content: "";
  display: block;
  width: 8px;
  height: 2px;
  background: $light-text;
  position: absolute;
  margin: auto 0;
  /* transition: transform 0.5s;        Doesn't currently work*/
}

.arrow-down:before {
  right: 14px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: rotate(45deg);
}

.arrow-down:after {
  right: 10px;
  transform: rotate(-45deg);
}

.arrow-down.active:before {
  transform: rotate(-45deg);
}

.arrow-down.active:after {
  transform: rotate(45deg);
}

/* Arrow Experiment */

.typeHeader {
  text-align: left;
}

.typeHeader:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.typeHeader:hover > .arrow-down {
  visibility: visible;
}

.typeTitle {
  text-align: left;
  text-indent: 12px;
  font-size: 24px;
  margin-top: 8px;
  font-family: $header-font;
  font-weight: 300;
  color: $light-background-color;
}

.typeDivider {
  width: 100%;
  height: 0%;
  margin: 0 auto;
}

.dragDivider {
  border-top: 3px dotted grey;
  border-bottom: none;
}

.typeContent {
  width: 100%;
  margin-bottom: 40px;
}

.tokenContent {
  width: 100%;
  padding-bottom: 40px;
}

//CARDS

.cardNameContainer {
  height: 50px;
  margin-top: 4px;
}

.cardName {
  font-size: var(--card-name-size);
  line-height: var(--line-height);
  font-family: $body-font;
  color: $light-background-color;
  word-wrap: break-word;
  hyphens: auto;
}

.ghostName {
  opacity: $ghost-opacity;
}

.cardContainer {
  position: relative;
  width: var(--card-width);
  // margin: 20px auto;
  margin: calc(var(--card-height) / 15) auto;
  border-radius: $card-border-radius;
  text-align: center;
  background-color: transparent;
}

.tokenContainer {
  position: relative;
  width: var(--card-width);
  margin: 20px auto;
  border-radius: $card-border-radius;
  text-align: center;
}

.cardArtContainer {
  position: relative;
  width: 100%;
  height: var(--card-height);
  border-radius: $card-border-radius;
}

.shadow1 {
  box-shadow: 0px -9px 15px 3px hsla(56, 80, 70, 0.3);
}

.shadow2 {
  box-shadow: 0px -11px 18px 4px hsla(56, 70, 60, 0.3),
    0px -11px 20px 8px hsla(56, 80, 70, 0.3);
}

.shadow3 {
  box-shadow: 0px -13px 18px 4px hsla(56, 70, 50, 0.3),
    0px -13px 24px 7px hsla(56, 80, 60, 0.3),
    0px -13px 30px 10px hsla(56, 90, 70, 0.3);
}

.shadow4 {
  box-shadow: 0px -15px 18px 8px hsla(56, 70, 50, 0.3),
    0px -15px 24px 12px hsla(56, 80, 60, 0.3),
    0px -15px 30px 15px hsla(56, 90, 70, 0.3),
    0px -15px 40px 20px hsla(56, 100, 70, 0.3);
}

.cardArt {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: $card-border-radius;
  border: $card-border solid hsl(300, 50, 7);
  background-color: $dark-background-color;
  object-fit: cover;
  object-position: 50% 0%;
  filter: saturate(130%) contrast(110%);
}

.ghostArt {
  filter: gray;
  filter: grayscale(0.9);
  -webkit-filter: grayscale(0.9);
  opacity: $ghost-opacity;
}

.lastCard {
  border-top-width: $card-border;
}

.moreCards {
  opacity: 0.5;
  border: 2px dashed grey;
}

//Card Quantity

.quantCover {
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.037) 16.3%,
    hsla(0, 0%, 0%, 0.091) 30.7%,
    hsla(0, 0%, 0%, 0.158) 43.4%,
    hsla(0, 0%, 0%, 0.236) 54.5%,
    hsla(0, 0%, 0%, 0.321) 64.1%,
    hsla(0, 0%, 0%, 0.412) 72.4%,
    hsla(0, 0%, 0%, 0.506) 79.3%,
    hsla(0, 0%, 0%, 0.599) 85%,
    hsla(0, 0%, 0%, 0.688) 89.6%,
    hsla(0, 0%, 0%, 0.772) 93.2%,
    hsla(0, 0%, 0%, 0.846) 95.9%,
    hsla(0, 0%, 0%, 0.909) 97.9%,
    hsla(0, 0%, 0%, 0.958) 99.1%,
    hsla(0, 0%, 0%, 0.989) 99.8%,
    hsl(0, 0%, 0%) 100%
  );
  border-radius: $card-border-radius;
  width: 100%;
  height: 100%;
  z-index: 6;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.5s;
}

.secondCover {
  width: calc(50% - #{$card-border});
  position: absolute;
  top: $card-border;
  right: $card-border;
  height: calc(100% - #{$card-border} * 2);
  z-index: 7;
  background-image: linear-gradient(
    to bottom,
    hsla(45, 100, 100, 0.1),
    hsla(45, 100, 50, 0.3)
  );
  border-bottom-right-radius: $card-border-radius;
  border-top-right-radius: $card-border-radius;
  opacity: 0;
  transition: 0.45s;
  cursor: pointer;
}

.shadowBox {
  border-radius: $card-border-radius;
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
}

.settingsCover {
  background-color: hsla(0, 0%, 9%, 0.35);
  opacity: 0;
  z-index: 7;
  transition: 0.45s;
  display: flex;
  cursor: pointer;
  border-radius: $card-border-radius;
}

.settingsHover {
  opacity: 1;
  transition: 0.45s;
}

.settingsIcon {
  opacity: 0.75;
  width: 70%;
  height: auto;
  margin: auto;
  z-index: 6;
  transform: translateY(-20%);
  pointer-events: none;
}

.quantContainer {
  position: absolute;
  height: 20%;
  width: calc(100% - 2 * #{$card-border});
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  bottom: 10px;
  left: $card-border;
  z-index: 8;
}

.quantButton {
  font-weight: bold;
  font-size: var(--quant-button-size);
  opacity: 0.4;
  color: rgb(179, 179, 179);
  z-index: 10;
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0;
}

.decrementCard {
  color: $light-text;
  text-shadow: 2px 2px 3px red, 2px -2px 3px red, -2px 2px 3px red,
    -2px -2px 3px red;
  transition: 0.45s;
}

.decrementCard:hover {
  color: red;
  text-shadow: 1px 1px 2px $light-text, 1px -1px 2px $light-text,
    -1px 1px 2px $light-text, -1px -1px 2px $light-text;
}

.incrementCard {
  color: $light-text;
  text-shadow: 2px 2px 3px green, 2px -2px 3px green, -2px 2px 3px green,
    -2px -2px 3px green;
  transition: 0.45s;
}

.incrementCard:hover {
  color: green;
  text-shadow: 1px 1px 2px $light-text, -1px 1px 2px $light-text,
    1px -1px 2px $light-text, -1px -1px 2px $light-text;
}

.cardQuantity {
  display: flex;
  flex-direction: row;
  font-size: var(--quant-size);
  align-items: flex-end;
  color: $light-text;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
  z-index: 3;
  font-family: $header-font;
  letter-spacing: 2px;
}

.quantityX {
  height: 100%;
  margin-bottom: 2px;
  font-family: inherit;
  font-size: calc(var(--quant-size) * 3 / 4);
}

.quantInput {
  height: 100%;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
}

.bigCardImage {
  position: absolute;
  border-radius: 28px;
  width: $popup-width;
  height: $popup-height;
  z-index: 20;
  filter: saturate(120%) contrast(110%);
  background-color: transparent;
}

.bigGhostImage {
  filter: grayscale(0.9);
  filter: gray;
  -webkit-filter: grayscale(0.9);
  z-index: 20;
}

.popupBR {
  left: calc(var(--card-width) + 4px);
  top: 0;
}

.popupBL {
  right: calc(var(--card-width) + 4px);
  top: 0;
}

.popupTR {
  left: calc(var(--card-width) + 4px);
  bottom: 54px;
}

.popupTL {
  right: calc(var(--card-width) + 4px);
  bottom: 54px;
}

.hiddenCard {
  visibility: hidden;
  pointer-events: none;
}

.cardDragImage {
  width: var(--card-width);
  height: var(--card-height);
}

.dragCard {
  width: var(--card-width);
  height: var(--card-height);
  border: 3px dotted grey;
  border-radius: $card-border-radius;
  position: relative;
}

.dragCard > * {
  opacity: 0;
}

//Settings

.settingsContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fffde2;
  color: $dark-background-color;
  width: $popup-width;
  height: $popup-height;
  border: 8px solid darken($dark-background-color, 20%);
  z-index: 100;
  border-radius: $card-border-radius;
  font-size: 24px;
  pointer-events: auto;
  padding: 20% 30%;
  box-shadow: 0px 0px 4px 1px lighten($primary-color, 5%);
  overflow-y: auto;
  overflow-x: visible;
}

.settingsTitle {
  width: 95%;
  text-align: center;
  margin: 32px auto 40px auto;
  font-size: 36px;
  font-family: Cinzel;
  font-weight: bold;
}

.settingSelector {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  align-items: center;
}

.settingName {
  margin: 4px auto 8px 0;
  text-align: left;
  font-family: $body-font;
  font-size: 24px;
  font-weight: 600;
  padding: 4px 0;
}

.setInput {
  width: 100%;
  color: $light-text;
  background-color: $primary-color;
  text-indent: 4px;
  font-size: 24px;
  height: 32px;
  border: none;
}

.setInput::placeholder {
  color: $light-text;
}

.setDropButton {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  background-color: transparent;
  height: 32px;
  width: auto;
  position: absolute;
  top: 48px;
  right: 8px;
  cursor: pointer;
}

.setDropDown {
  position: absolute;
  top: 78px;
  width: 100%;
  z-index: 11;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 350px;
}

.setOption {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: $dark-background-color;
  color: $light-text;
  border: 3px solid $primary-color;
  border-top: 0px;
  text-indent: 4px;
  font-size: 24px;
  white-space: nowrap;
  font-family: $body-font;
}

.setOption:hover {
  color: $dark-text;
  background-color: $accent-color;
  font-weight: 700;
}

.settingButton {
  font-family: $body-font;
  font-size: 20px;
  color: $light-text;
  background-color: $primary-color;
  margin: 72px auto;
  width: 80%;
}

.smallCardImage {
  width: 240px;
  position: absolute;
  border-radius: 20px;
  filter: saturate(120%) contrast(110%);
  opacity: 1;
}

.settingMoveBoards {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.moveBoardInput {
  background-color: $dark-background-color;
  color: $light-text;
  width: 36px;
  font-size: 20px;
  font-family: $body-font;
}

.settingBoardButtons {
  display: flex;
  flex-direction: column;
}

.boardButton {
  padding: 4px 8px;
  margin: 8px 0;
  background-color: $primary-color;
  font-family: $body-font;
  font-size: 16px;
  color: $light-text;
}

.invalidBoardButton {
  background-color: $null-color;
}

.typeSettingContainer {
  width: 90%;
  height: auto;
}

.typeSettingDiv {
  width: 100%;
  margin: 0 0 -2px auto;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: $body-font;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  text-indent: 8px;
  border: 2px solid $dark-background-color;
}

.typeInputDiv {
  width: 100%;
  margin: 0 0 -2px auto;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: $body-font;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid $dark-background-color;
  background-color: black;
}

.typeSettingInput {
  background-color: black;
  border: none;
  color: white;
  margin-right: 10px;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
}

.typeSettingInput {
  text-indent: 4px;
}

.settingInputError::placeholder {
  color: darkred;
}

.typeSettingButton {
  font-size: 20px;
  font-weight: bolder;
  font-family: $body-font;
  color: white;
  margin-right: 12px;
}

.typeInputButton {
  font-size: 20px;
  font-weight: bolder;
  font-family: $body-font;
  color: white;
  margin: 0 12px;
  cursor: pointer;
}

.propertyRow {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
  width: 100%;
  justify-content: space-evenly;
}

.toggleProperty {
  padding: 8px;
  background-color: transparent;
  color: $dark-text;
  font-size: 20px;
}

.currentProperty {
  color: $light-text;
  background-color: $primary-color;
}

.mainTypeButton {
  color: $light-text;
  background-color: $primary-color;
}

.mainTypeButon > .typeSettingButton {
  color: $light-text;
}

.currentTypeButton {
  color: $dark-text;
  background-color: $secondary-color;
}

.currentTypeButton > .typeSettingButton {
  color: $dark-text;
}

.nullTypeButton {
  color: darken(white, 20%);
  background-color: grey;
}

.nullTypeButton > .typeSettingButton {
  color: darken(white, 20%);
}

.selectorGroup {
  display: flex;
  flex-direction: row;
}

.typeSelector {
  height: 20px;
  width: 20px;
  border: 1px solid white;
  margin: 0 4px;
}

.mainTypeSelector {
  background-color: white;
}

.currentTypeSelector {
  background-color: transparent;
}

.nullTypeSelector {
  opacity: 0;
}

.flexGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin-left: 15%;
}

.ofText {
  text-indent: 6px;
}

//Footer

.footerContainer {
  background-color: $dark-background-color;
  color: $light-text;
  width: 100%;
  min-height: $footer-height;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  border: none;
}

.footerInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px;
}

.footerCategory {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  padding: 10px;
}

.footerLabel {
  font-size: 20px;
  margin-bottom: 14px;
}

.footerItem {
  font-size: 16px;
  margin: 3px 0;
}

.patreonImage {
  width: 64px;
  height: auto;
}

.newDeckContainer {
  height: $builder-height;
}

.createDeckTitle {
  font-family: $header-font;
  font-size: 64px;
  margin: 60px 0;
  color: $light-text;
}

.createDeckOptions {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.createNewDeckZone {
  border: 6px solid darken($primary-color, 7%);
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: 25vw;
  position: relative;
}

.newDeckTitle {
  font-family: $header-font;
  font-size: 48px;
  color: $light-text;
  margin-bottom: 80px;
}

.fieldGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fieldTitle {
  font-family: $body-font;
  color: $light-text;
  font-size: 20px;
}

.newDeckField {
  height: 32px;
  width: 50%;
  font-size: 18px;
  margin: 14px 0;
  background-color: $light-text;
}

.newDeckFormatField {
  display: flex;
  align-items: center;
  height: 32px;
  font-size: 17px;
  font-family: $body-font;
  margin: 14px 0;
  word-wrap: break-word;
  width: 100%;
}

.createDeckButton {
  background-color: $accent-color;
  font-family: $header-font;
  font-size: 24px;
  font-weight: 500;
  color: $dark-background-color;
  width: 240px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  margin: 80px auto 20px auto;
}

.biglyOR {
  font-family: $header-font;
  font-size: 36px;
  color: $light-text;
  padding: 140px;
}

.importDeckZone {
  width: 25vw;
}

.inputFileLabel {
  padding-bottom: 0px;
  border-bottom: solid 4px darken($primary-color, 5%);
  border-bottom-width: 3.1px;
  width: fit-content;
  font-family: $header-font;
  font-size: 48px;
  color: $light-text;
  cursor: pointer;
}

// Search Classes
.searchbarContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 64px 0;
}

.searchArea {
  position: relative;
  width: calc(50% - 24px);
  display: flex;
  flex-direction: row;
  opacity: 1;
}

.search {
  outline: none;
  width: 100%;
  background-color: $light-background-color;
  font-size: 32px;
  text-align: left;
  height: 48px;
  border-radius: 8px;
  text-indent: 4px;
}

.searchBar {
  color: $dark-text;
  z-index: 2;
  opacity: 0.7;
  position: relative;
}

.ghostBar {
  color: grey;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.searchIcon {
  height: 44px;
  width: auto;
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 2;
  fill: grey;
  cursor: pointer;
  padding: 6px 6px;
  border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

.searchOptions {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  max-height: 50vh;
  border: 1px solid $dark-text;
  background-color: $light-background-color;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  color: $light-background-color;
  background-color: $dark-background-color;
  box-shadow: 0px 0px 8px 2px $dark-background-color;
}

.searchResultItem {
  font-size: 32px;
  text-align: left;
  text-indent: 4px;
  font-family: $body-font;
  padding: 4px;
  margin: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 6px;
}

.currentResultItem {
  background-color: $primary-color;
  color: $accent-color;
}

.loadingContainer {
  position: absolute;
  height: 100%;
  z-index: 3;
  display: flex;
  flex-direction: row;
}

.loadingCircle {
  width: 10px;
  height: 10px;
  background-color: $dark-background-color;
  border-radius: 50%;
  margin: 0 2px;
}

// Deck Tools
.decktoolsContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  z-index: 2;
}

.decktoolsSubContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  border-left: 4px solid lighten($accent-color, 15%);
}

.decktoolsButton {
  text-align: center;
  position: relative;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: lighten($accent-color, 15%);
  padding: 0 8px;
  height: 100vh;
  transition: background-color 0.35s, padding 0.35s;
}

.inactiveToolsButton {
  background-color: $primary-color;
  padding: 0 12px;
  transition: background-color 0.35s, padding 0.35s;
}

.toolsMenu {
  background-color: $tools-color;
  height: 100vh;
  position: relative;
  z-index: 2;
  padding: 20px;
  overflow-y: auto;
  border-top: 4px solid lighten($accent-color, 15%);
  border-bottom: 4px solid lighten($accent-color, 15%);
}

.toolsCategory {
  display: flex;
  flex-direction: column;
}

.toolsName {
  color: $light-text;
  font-family: $body-font;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-indent: 20px;
  margin-top: 80px;
}

.manaCurveContainer {
  height: 500px;
  width: 100%;
  margin: 28px auto;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: $header-font;
  font-size: 24px;
}

.manaCurveText {
  margin: 0 auto;
}

.displayToggleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 40px 0;
  padding-left: 44px;
}

.displaySetting {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.displaySlider {
  width: 50%;
}

.displaySettingName {
  font-family: $body-font;
  font-size: 22px;
  font-weight: 300;
  color: $light-text;
}

.toolsTitle {
  color: $light-text;
  font-size: 48px;
  font-family: $header-font;
  text-align: left;
  margin-top: 40px;
  font-weight: 600;
}

.toolSlider {
  width: 10%;
}

.cardSortingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 40px 0;
  padding-left: 44px;
}

.cardSortButton {
  font-size: 20px;
  color: white;
  padding: 8px 8px;
}

.activeSortButton {
  background-color: $primary-color;
}

// Utility

#draggable {
  cursor: move;
}

.hidden {
  visibility: hidden;
  display: none;
}

.noHover {
  pointer-events: none;
}

.notAllowed {
  cursor: not-allowed;
  color: darken($null-color, 20%);
}

.sillyMessage {
  font-family: $body-font;
  color: $light-text;
  position: absolute;
  top: 180vh;
  right: 15vw;
}

.smallDiv {
  display: inline-block;
  @include respond-to("medium") {
    display: none;
  }
}

.largeDiv {
  display: none;
  @include respond-to("medium") {
    display: inline-block;
  }
}
