@import "./reset";

$primary-color: #601466;
$secondary-color: #d9d68c;
$accent-color: #eee22b;
$input-color: #f9f8ec;
$dark-background-color: #220f26;

$null-color: #c4c4c4;
$null-accent-color: #3f3f3f;

$light-text: #f1e6f2;

$banner-height: 240px;
$tools-color: #f2f1d9;

$card-width: 120px;
$card-height: 168px;

$card-border-radius: 3mm;
$card-border: 5px;

// $popup-height: 58vh;
$popup-height: calc(50vh + var(--card-height) / 2);
$popup-width: calc(#{$popup-height} * 5 / 7);

$tools-width: 300px;

$header-height: 12vh;
$footer-height: 15vh;

$builder-height: 200vh;

$ghost-opacity: 0.5;

@font-face {
  font-family: "Cinzel";
  src: url("../utils/fonts/Cinzel/Cinzel-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-stretch: 25% 151%;
}

$header-font: "Cinzel";

#root {
  position: relative;
  background-color: transparent;
  --card-width: #{$card-width};
  --card-height: #{$card-height};
  --card-name-size: 18px;
  --quant-button-size: 40px;
  --quant-size: 30px;
  --line-height: 20px;
  width: 100%;
}

.magentaLogo {
  font-family: $header-font;
  color: $light-text;
  display: flex;
  flex-direction: row;
}

.logoFlair {
  color: lighten($primary-color, 15%);
}

.topLogo {
  margin-top: 10px;
  font-size: 32px;
  @include respond-to("small") {
    font-size: 40px;
  }
  @include respond-to("medium") {
    font-size: 48px;
  }
  font-weight: 600;
}

.bottomLogo {
  font-size: 60px;
  @include respond-to("medium") {
    font-size: 72px;
  }
  @include respond-to("large") {
    font-size: 84px;
  }
  font-weight: 700;
  padding: 16px;
}

.navContainer {
  color: $light-text;
  background-color: transparent;
  display: flex;
  text-align: center;
  justify-content: space-between;
  height: $header-height / 1.2;
  @include respond-to("small") {
    height: $header-height;
  }
  align-items: center;
  width: 100%;
  padding: 0 4vw;
  z-index: 10;
  position: fixed;
  top: 0;
}

.navColor {
  width: 100%;
  height: 100%;
  background-color: darken($primary-color, 10%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.authLinks {
  position: relative;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.loginLink {
  font-size: 20px;
  @include respond-to("small") {
    font-size: 24px;
  }
  @include respond-to("medium") {
    font-size: 28px;
  }
  @include respond-to("large") {
    font-size: 32px;
  }
  color: $light-text;
  font-family: $secondary-font;
}

.registerLink {
  font-size: 18px;
  @include respond-to("small") {
    font-size: 20px;
  }
  @include respond-to("medium") {
    font-size: 22px;
  }
  @include respond-to("large") {
    font-size: 28px;
  }
  color: $dark-background-color;
  font-family: $secondary-font;
  border-radius: 6px;
  background-color: $accent-color;
  padding: 16px 28px;
  margin-left: 20px;
}

.logoutLink {
  font-size: 18px;
  @include respond-to("small") {
    font-size: 20px;
  }
  @include respond-to("medium") {
    font-size: 24px;
  }
  @include respond-to("large") {
    font-size: 28px;
  }
  color: $light-text;
  font-family: $secondary-font;
}

.userButton {
  display: flex;
  flex-direction: row;
}

.userGreeting {
  font-size: 32px;
  font-family: $secondary-font;
  color: $light-text;
  opacity: 0.6;
}

.mainPage {
  width: 100%;
  position: relative;
}

.headerBody {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../utils/images/HeroImage_Smoke.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 200;
}

.heroText {
  font-family: $header-font;
  font-size: 48px;
  margin: 0 auto;
  padding-top: 30vh;
  @include respond-to("small") {
    font-size: 60px;
  }
  @include respond-to("medium") {
    font-size: 72px;
    padding-top: 35vh;
  }
  @include respond-to("large") {
    font-size: 84px;
  }
  width: 80%;
  color: $light-text;
}

.taglineText {
  font-size: 24px;
  @include respond-to("small") {
    font-size: 28px;
  }
  @include respond-to("medium") {
    font-size: 32px;
  }
  @include respond-to("large") {
    font-size: 36px;
  }
  color: $light-text;
  margin-top: 2vh;
  font-family: $body-font;
  line-height: 32px;
}

.headerButtonsContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 10vh;
  width: 90%;
  @include respond-to("small") {
    flex-direction: row;
    margin-top: 18vh;
    width: 80%;
  }
  justify-content: space-evenly;
}

.headerButton {
  position: relative;
  font-size: 24px;
  margin: 12px 0;
  text-decoration: none;
  height: 40px;
  border-radius: 8px;
  height: 67px;
  line-height: 67px;
  width: 300px;
  text-align: center;
  font-size: 30px;
  font-family: $body-font;
}

.builderEnter {
  color: $dark-background-color;
  background-color: $accent-color;
  opacity: 1;
  visibility: visible;
  box-shadow: 0px 0px 4px 0px rgba(235, 0, 255, 0.8),
    0px 0px 20px 0px rgba(235, 0, 255, 0.4),
    0px 0px 40px 0 rgba(235, 0, 255, 0.2);
}

.createDeckButton {
  width: 240px;
  height: 55px;
  line-height: 50px;
  font-size: 28px;
}

.deckButtonContainer {
  display: flex;
  align-items: center;
}

.deckScrollList {
  height: 330px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
}

.blockedDeckList {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: darken($dark-background-color, 30%);
  opacity: 0.4;
  font-size: 28px;
  font-family: $header-font;
}

.blockedDeckText {
  margin: auto;
  color: $light-text;
}

.deckPageBlock {
  height: inherit;
}

.deckSlotContainer {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  height: 260px;
  width: 300px;
  margin-left: 16px;
  border-radius: 8px;
  flex: 0 0 auto;
}

.selectedDeck {
  background-image: linear-gradient(
    to bottom,
    hsla(56, 100, 80, 1),
    hsla(56, 40, 0, 0)
  );
}

.deckRef {
  height: 85%;
  width: 85%;
  margin: 0 auto;
}

.deckListDropdown {
  border: 1px solid desaturate($accent-color, 5%);
  width: 80px;
  cursor: pointer;
  margin-left: -30px;
  background-color: desaturate($accent-color, 5%);
  z-index: 1;
  border-radius: 13px;
  height: 42px;
}

.deckButton {
  opacity: 1;
  margin: auto;
  border-radius: 2px;
  cursor: pointer;
  height: 100%;
  width: 100%;

  filter: saturate(120%) contrast(120%);
  box-shadow: 0px 0px 12px 3px hsla(0, 0, 0, 0.7);
}

.deckSlotName {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 64px);
  margin: 24px 32px;
  text-align: left;
  color: $light-text;
  font-size: 28px;
  font-family: $header-font;
  word-wrap: break-word;
  pointer-events: none;
}

.deckSlotCover {
  position: absolute;
  pointer-events: none;
  top: 7.5%;
  left: 7.5%;
  height: 85%;
  width: 85%;
  background-image: linear-gradient(
    to bottom,
    hsl(0, 0%, 12%) 0%,
    hsla(0, 0%, 12%, 0.992) 5%,
    hsla(0, 0%, 12%, 0.97) 10%,
    hsla(0, 0%, 12%, 0.935) 15%,
    hsla(0, 0%, 12%, 0.889) 20.2%,
    hsla(0, 0%, 12%, 0.832) 25.5%,
    hsla(0, 0%, 12%, 0.766) 31%,
    hsla(0, 0%, 12%, 0.693) 36.8%,
    hsla(0, 0%, 12%, 0.613) 43%,
    hsla(0, 0%, 12%, 0.529) 49.5%,
    hsla(0, 0%, 12%, 0.441) 56.5%,
    hsla(0, 0%, 12%, 0.352) 64%,
    hsla(0, 0%, 12%, 0.261) 72%,
    hsla(0, 0%, 12%, 0.172) 80.7%,
    hsla(0, 0%, 12%, 0.084) 90%,
    hsla(0, 0%, 12%, 0) 100%
  );
}

.decklistEnter {
  color: $secondary-color;
  background-color: transparent;
  border: 1px solid $secondary-color;
}

.contentContainer {
  width: 100%;
  background-color: $light-text;
  color: $dark-background-color;
}

.featureHeader {
  font-family: $header-font;
  font-size: 48px;
  @include respond-to("small") {
    font-size: 52px;
  }
  @include respond-to("medium") {
    font-size: 58px;
  }
  @include respond-to("large") {
    font-size: 64px;
  }
  font-weight: bold;
  margin: 80px auto -40px auto;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: $primary-color;
}

.infoContainer {
  width: 100%;
  min-height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  @include respond-to("large") {
    flex-direction: row;
  }
  align-items: center;
  text-align: left;
}

.reverseInfoContainer {
  text-align: right;
  background-color: $dark-background-color;
  color: $light-text;
}

.featureContainer {
  width: 80%;
  @include respond-to("large") {
    width: 30%;
  }
}

.featureTitle {
  font-family: $header-font;
  font-size: 40px;
  @include respond-to("small") {
    font-size: 44px;
  }
  @include respond-to("medium") {
    font-size: 50px;
  }
  @include respond-to("large") {
    font-size: 58px;
  }
  margin: 20px 0;
  font-weight: 550;
}

.featureBody {
  font-family: $body-font;
  line-height: 28px;
  font-size: 20px;
  @include respond-to("medium") {
    font-size: 28px;
    line-height: 36px;
  }
}

.featureMockup {
  width: 80vw;
  @include respond-to("large") {
    width: 45vw;
  }
  height: auto;
}

.beforeMockup {
  display: none;
  @include respond-to("large") {
    display: inline-block;
  }
}

.afterMockup {
  display: inline-block;
  @include respond-to("large") {
    display: none;
  }
}

.builderPage {
  width: 100%;
  margin: 0 auto;
  background-color: $dark-background-color;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  border: none;
}

.deckListPage {
  width: 100%;
  background-color: $dark-background-color;
}

.deckListUser {
  color: $light-text;
  font-family: $header-font;
  font-size: 48px;
  margin: 60px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: $primary-color;
}

.deckInventory {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 40px 115px;
}

.errorContainer {
  display: flex;
  height: 100vh;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.errorMessage {
  font-size: 36px;
  margin: auto;
  width: 100%;
}

.builder {
  height: 150vh;
  position: relative;
  z-index: 0;
}

/* DECK BUILDER */

.builderContainer {
  background-color: $dark-background-color;
  z-index: 11;
  width: 100%;
  min-height: $builder-height;
}

.deckListArrow {
  width: 30px;
  margin-top: 12px;
  margin-left: 34px;
  transform: rotate(180deg);
}

.deckListArrowReverse {
  margin-top: 16px;
  transform: rotate(0deg);
}

.setArrow {
  width: 24px;
  height: auto;
  cursor: pointer;
}

.formatOptionContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  background-color: $dark-background-color;
  border: 2px solid $secondary-color;
  z-index: 10;
  text-align: left;
  padding: 6px 16px;
  width: 100%;
  box-shadow: 0 0 4px 2px $primary-color;
  border-radius: 2px;
  overflow-y: auto;
}

.bannerFormat {
  top: 41px;
  max-height: 500px;
}

.newDeckFormat {
  top: 50px;
  max-height: 250px;
}

.formatOption {
  padding: 10px 8px;
  margin: 2px 0;
  color: $light-text;
  text-align: left;
  font-weight: bold;
  font-size: 22px;
  border-radius: 4px;
  font-family: $body-font;
}

.formatOption:hover {
  background-color: $accent-color;
  color: $dark-background-color;
}

.customFormatOption {
  border: 1px solid darkgrey;
}

.selectedFormat {
  color: $dark-background-color;
  background-color: $light-text;
}

.boardSelector {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.deckContainer {
  position: relative;
  min-height: $builder-height;
}

.deckCategoryContainer {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.emptyDeck {
  color: grey;
  font-size: 44px;
  font-family: $header-font;
  position: absolute;
  width: 100%;
  margin-top: 20vh;
}

.settingsCloak {
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

//TYPES

.cardArea {
  width: 100%;
  min-height: $builder-height;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0.5%;
}

.categoryGrid {
  width: 100%;
  float: left;
  position: relative;
  padding: 0 1%;
  display: flex;
  flex-direction: row;
}
/* 3 columns by default */
.gridSizer {
  width: 33.33333333333333333333333333333333333333333%;
}

.typeGrid {
  display: flex;
  width: 100%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  transition-delay: 0.5s;
}

.typeGridColumn {
  padding-right: 10px; /* gutter size */
  background-clip: padding-box;
}

.typeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  grid-auto-rows: calc(var(--card-height) + calc(var(--card-height) * 0.45));
  justify-items: center;
  column-gap: 4px;
  min-height: var(--card-height) / 2;
  border-left: 1px solid rgba(217, 214, 140, 0.2);
  padding: 0 4px;
}

.typeHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  align-items: center;
  z-index: 1;
}

.dragType {
  border: 3px dotted grey;
  border-top: none;
  position: relative;
  background-image: rgb(255, 255, 255);
}

.dragType > * {
  // opacity: 0;
  visibility: hidden;
}

.dragType > * > * {
  opacity: 0;
  visibility: hidden;
}

/* Arrow Experiment */

.arrow-down {
  visibility: hidden;
  width: 30px;
  height: 30px;
  position: relative;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.arrow-down:before,
.arrow-down:after {
  content: "";
  display: block;
  width: 8px;
  height: 2px;
  background: $light-text;
  position: absolute;
  margin: auto 0;
  /* transition: transform 0.5s;        Doesn't currently work*/
}

.arrow-down:before {
  right: 14px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: rotate(45deg);
}

.arrow-down:after {
  right: 10px;
  transform: rotate(-45deg);
}

.arrow-down.active:before {
  transform: rotate(-45deg);
}

.arrow-down.active:after {
  transform: rotate(45deg);
}

/* Arrow Experiment */

.typeHeader {
  text-align: left;
}

.typeHeader:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.typeHeader:hover > .arrow-down {
  visibility: visible;
}

.typeTitle {
  text-align: left;
  text-indent: 12px;
  font-size: 28px;
  margin-top: 8px;
  font-family: $header-font;
  font-weight: 300;
  color: $light-text;
  white-space: nowrap;
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.typeDivider {
  width: 100%;
  height: 1px;
  margin: 0 auto;
  border: none;
  background-color: rgba(217, 214, 140, 0.2);
  border-radius: 100px;
}

.dragDivider {
  border-top: 3px dotted grey;
  border-bottom: none;
}

.typeContent {
  width: 32%;
}

.tokenContent {
  width: 100%;
  padding-bottom: 40px;
}

//CARDS

.cardNameContainer {
  margin-top: 4px;
}

.cardName {
  font-size: var(--card-name-size);
  line-height: var(--line-height);
  font-family: $body-font;
  color: $light-text;
  word-wrap: break-word;
  hyphens: auto;
}

.ghostName {
  opacity: $ghost-opacity;
}

.commanderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyCommander {
  height: 240px;
}

.commanderCardContainer {
  width: 100%;
}

.commander {
  margin: 14px 0;
  height: auto;
  border-radius: 24px;
  position: relative;
}

.singleCommander {
  width: calc(var(--card-width) * 3);
  max-width: 100%;
}

.doubleCommander {
  width: calc(var(--card-width) * 3);
  max-width: 100%;
}

.commanderFragment {
  width: 100%;
}

.commanderImg {
  border-radius: 22px;
  width: 100%;
  height: auto;
}

.cardContainer {
  position: relative;
  width: var(--card-width);
  margin: calc(var(--card-height) / 30) 8px;
  border-radius: $card-border-radius;
  text-align: center;
  background-color: transparent;
}

.tokenContainer {
  position: relative;
  width: var(--card-width);
  margin: 20px auto;
  border-radius: $card-border-radius;
  text-align: center;
}

.cardArtContainer {
  position: relative;
  width: 100%;
  height: var(--card-height);
  border-radius: $card-border-radius;
}

.illegalShadow {
  box-shadow: 0px 0px 16px 3px rgba(255, 0, 0, 0.6);
}

.cardArt {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: $card-border-radius;
  border: $card-border solid hsl(300, 50, 7);
  background-color: $dark-background-color;
  object-fit: cover;
  object-position: 50% 0%;
  filter: saturate(130%) contrast(110%);
}

.ghostArt {
  filter: gray;
  filter: grayscale(0.9);
  -webkit-filter: grayscale(0.9);
  opacity: $ghost-opacity;
}

.lastCard {
  border-top-width: $card-border;
}

.moreCards {
  opacity: 0.5;
  border: 2px dashed grey;
}

//Card Quantity

.quantCover {
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.037) 16.3%,
    hsla(0, 0%, 0%, 0.091) 30.7%,
    hsla(0, 0%, 0%, 0.158) 43.4%,
    hsla(0, 0%, 0%, 0.236) 54.5%,
    hsla(0, 0%, 0%, 0.321) 64.1%,
    hsla(0, 0%, 0%, 0.412) 72.4%,
    hsla(0, 0%, 0%, 0.506) 79.3%,
    hsla(0, 0%, 0%, 0.599) 85%,
    hsla(0, 0%, 0%, 0.688) 89.6%,
    hsla(0, 0%, 0%, 0.772) 93.2%,
    hsla(0, 0%, 0%, 0.846) 95.9%,
    hsla(0, 0%, 0%, 0.909) 97.9%,
    hsla(0, 0%, 0%, 0.958) 99.1%,
    hsla(0, 0%, 0%, 0.989) 99.8%,
    hsl(0, 0%, 0%) 100%
  );
  border-radius: $card-border-radius;
  width: 100%;
  height: 100%;
  z-index: 6;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.5s;
}

.secondCover {
  width: calc(50% - #{$card-border});
  position: absolute;
  top: $card-border;
  right: $card-border;
  height: calc(100% - #{$card-border} * 2);
  z-index: 7;
  background-image: linear-gradient(
    to bottom,
    hsla(45, 100, 100, 0.1),
    hsla(45, 100, 50, 0.3)
  );
  border-bottom-right-radius: $card-border-radius;
  border-top-right-radius: $card-border-radius;
  opacity: 0;
  transition: 0.45s;
  cursor: pointer;
}

.shadowBox {
  border-radius: $card-border-radius;
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
}

.settingsCover {
  background-color: hsla(0, 0%, 9%, 0.5);
  opacity: 0;
  z-index: 7;
  transition: 1s;
  display: flex;
  cursor: pointer;
  border-radius: $card-border-radius;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.settingsHover {
  opacity: 1;
  transition: 0.45s;
}

.settingsIcon {
  opacity: 0.75;
  width: 70%;
  height: auto;
  margin: auto;
  z-index: 6;
  transform: translateY(-20%);
  pointer-events: none;
}

.commanderSettingsIcon {
  opacity: 0.9;
  width: 70%;
  height: auto;
  margin: auto;
  z-index: 6;
  transform: translateY(-20%);
  pointer-events: none;
}

.quantContainer {
  position: absolute;
  height: 20%;
  width: calc(100% - 2 * #{$card-border});
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  bottom: 10px;
  left: $card-border;
  z-index: 8;
}

.ghostQuantContainer {
  position: absolute;
  height: 20%;
  width: calc(100% - 2 * #{$card-border});
  display: grid;
  grid-template-columns: 1fr;
  align-items: end;
  justify-items: center;
  bottom: 4px;
  left: $card-border;
  z-index: 8;
}

.quantButton {
  font-weight: bold;
  font-size: var(--quant-button-size);
  opacity: 0.4;
  color: rgb(179, 179, 179);
  z-index: 10;
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0;
  transition: 0.45s;
}

.decrementCard {
  color: $light-text;
  text-shadow: 2px 2px 3px red, 2px -2px 3px red, -2px 2px 3px red,
    -2px -2px 3px red;
  transition: 0.45s;
}

.decrementCard:hover {
  color: red;
  text-shadow: 1px 1px 2px $light-text, 1px -1px 2px $light-text,
    -1px 1px 2px $light-text, -1px -1px 2px $light-text;
}

.incrementCard {
  color: $light-text;
  text-shadow: 2px 2px 3px green, 2px -2px 3px green, -2px 2px 3px green,
    -2px -2px 3px green;
  transition: 0.45s;
}

.incrementCard:hover {
  color: green;
  text-shadow: 1px 1px 2px $light-text, -1px 1px 2px $light-text,
    1px -1px 2px $light-text, -1px -1px 2px $light-text;
}

.cardQuantity {
  display: flex;
  flex-direction: row;
  font-size: var(--quant-size);
  align-items: flex-end;
  color: $light-text;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
  z-index: 3;
  font-family: $header-font;
  letter-spacing: 2px;
}

.ghostCardQuantity {
  display: flex;
  flex-direction: row;
  font-size: var(--quant-size);
  align-items: flex-end;
  justify-content: center;
  color: rgb(100, 100, 100);
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
  z-index: 3;
  font-family: $header-font;
  letter-spacing: 2px;
  width: 100%;
}

.quantityX {
  height: 100%;
  margin-bottom: 2px;
  font-family: inherit;
  font-size: calc(var(--quant-size) * 3 / 4);
}

.quantInput {
  height: 100%;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
}

.bigCardImage {
  position: absolute;
  border-radius: 28px;
  width: $popup-width;
  height: $popup-height;
  z-index: 20;
  filter: saturate(120%) contrast(110%);
  background-color: transparent;
  // box-shadow: 0px 0px 40px 30px $dark-background-color;
  box-shadow: 0px 0px 20px 10px $dark-background-color;
}

.bigGhostImage {
  filter: grayscale(0.9);
  filter: gray;
  -webkit-filter: grayscale(0.9);
  z-index: 20;
}

.popupBR {
  left: calc(var(--card-width) + 4px);
  top: 0;
}

.popupBL {
  right: calc(var(--card-width) + 4px);
  top: 0;
}

.popupTR {
  left: calc(var(--card-width) + 4px);
  bottom: 54px;
}

.popupTL {
  right: calc(var(--card-width) + 4px);
  bottom: 54px;
}

.hiddenCard {
  visibility: hidden;
  pointer-events: none;
}

.cardDragImage {
  width: var(--card-width);
  height: var(--card-height);
}

.dragCard {
  width: var(--card-width);
  height: var(--card-height);
  border: 3px dotted grey;
  border-radius: $card-border-radius;
  position: relative;
}

.dragCard * {
  opacity: 0;
}

//Settings

.settingsContainer {
  max-width: 90vw;
  height: 80vh;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 4fr;

  background-color: $input-color;
  color: $dark-background-color;
  border: 8px solid $dark-background-color;
  box-shadow: 0 0 16px 8px rgba(238, 226, 43, 0.2);
  border-radius: 6px;
  font-size: 24px;
  pointer-events: auto;
  padding: 2% 0;
}

.settingOptions {
  display: grid;
  grid-template-columns: 1fr 0fr 1fr 0fr 1fr;
  height: 100%;
  justify-content: center;
}

.settingColumn {
  height: 100%;
  max-width: 100%;
  justify-content: center;
}

.column1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.column2 {
  padding: 0 4%;
}

.column3 {
  padding: 0 4%;
}

.settingsTitle {
  width: 95%;
  text-align: center;
  font-size: 52px;
  font-family: $header-font;
  margin-bottom: 1%;
}

.settingsVR {
  width: 1px;
  background-color: rgba(105, 16, 112, 0.15);
  height: 100%;
}

.settingSelector {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  align-items: center;
  margin-bottom: 10%;
}

.moveBoardHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.settingName {
  width: 100%;
  text-align: left;
  font-family: $body-font;
  font-size: 32px;
}

.setButtonText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 4px 8px 4px 0px;
  font-family: $body-font;
  font-weight: 600;
  font-size: 24px;
  font-weight: bolder;
  width: 92%;
  background-color: $primary-color;
  height: 44px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 2px 1px $dark-background-color;
  margin: 20px 0 20px 8%;
}

.setInput {
  width: 100%;
  color: $light-text;
  background-color: transparent;
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  text-indent: 12px;
}

.setInput::placeholder {
  color: $light-text;
}

.setDropButton {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  background-color: transparent;
  height: 32px;
  width: auto;
  position: absolute;
  top: 48px;
  right: 8px;
  cursor: pointer;
}

.setDropDown {
  position: absolute;
  top: 95px;
  width: 92%;
  z-index: 11;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 350px;
}

.setOption {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: $dark-background-color;
  color: $light-text;
  border: 3px solid $primary-color;
  border-top: 0px;
  text-indent: 4px;
  font-size: 24px;
  white-space: nowrap;
  font-family: $body-font;
}

.setOption:hover {
  color: $dark-background-color;
  background-color: $accent-color;
  font-weight: 700;
}

.imageButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2%;
}

.imageButton {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.settingDeckImage {
  font-family: $body-font;
  font-size: 20px;
  color: $primary-color;
  background-color: transparent;
}

.settingCardImage {
  width: 85%;
  height: auto;
  margin: 0 auto;
  border-radius: 20px;
  filter: saturate(120%) contrast(110%);
  opacity: 1;
}

.settingMoveBoards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.moveBoardInput {
  background-color: $dark-background-color;
  color: $light-text;
  width: 24px;
  font-size: 20px;
  font-family: $body-font;
}

.settingBoardButtons {
  display: flex;
  flex-direction: column;
}

.boardButton {
  padding: 8px 8px 8px 0;
  margin: 8px 0;
  background-color: transparent;
  font-family: $body-font;
  font-size: 20px;
  color: $primary-color;
  border-radius: 2px;
  width: 100%;
  text-align: left;
  text-indent: 12px;
  border: 2px solid $primary-color;
  box-shadow: 0 0 2px 1px rgba(34, 15, 38, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boardIcon {
  height: 25px;
  width: auto;
}

.invalidBoardButton {
  background-color: $null-color;
  color: $null-accent-color;
  border: 1px solid $null-accent-color;
  box-shadow: none;
}

.typeSettingContainer {
  width: 90%;
  height: auto;
}

.typeSettingDiv {
  width: 100%;
  margin: 0 0 -2px auto;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: $body-font;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  border: 2px solid $dark-background-color;
  height: 50px;
}

.typeInputDiv {
  width: 100%;
  margin: 0 0 -2px auto;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: $body-font;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid $dark-background-color;
  background-color: black;
  height: 50px;
}

.typeSettingInput {
  background-color: black;
  border: none;
  color: white;
  margin-right: 10px;
  width: 100%;
  font-weight: 600;
  font-size: 22px;
}

.settingInputError::placeholder {
  color: darkred;
}

.typeSettingButton {
  font-size: 20px;
  font-weight: bolder;
  font-family: $body-font;
  color: white;
  margin-right: 12px;
}

.typeInputButton {
  font-size: 20px;
  font-weight: bolder;
  font-family: $body-font;
  color: white;
  margin: 0 12px;
  cursor: pointer;
}

.propertyRow {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
  width: 100%;
  justify-content: space-evenly;
}

.toggleProperty {
  padding: 8px;
  background-color: transparent;
  color: $dark-background-color;
  font-size: 20px;
}

.currentProperty {
  color: $light-text;
  background-color: $primary-color;
}

.mainTypeButton {
  color: $light-text;
  background-color: $primary-color;
}

.mainTypeButon > .typeSettingButton {
  color: $light-text;
}

.currentTypeButton {
  color: $dark-background-color;
  background-color: $secondary-color;
}

.currentTypeButton > .typeSettingButton {
  color: $dark-background-color;
}

.nullTypeButton {
  color: darken(white, 20%);
  background-color: grey;
}

.nullTypeButton > .typeSettingButton {
  color: darken(white, 20%);
}

.selectorGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.typeSelector {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.propertyOptionText {
  font-size: 22px;
  font-family: $secondary-font;
}

.nullTypeSelector {
  opacity: 0;
  display: none;
}

.boardButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 92%;
  margin: 20px 0 20px 8%;
}

.ofText {
  text-indent: 12px;
  white-space: nowrap;
}

//Footer

.footerContainer {
  background-color: $dark-background-color;
  color: $light-text;
  width: 100%;
  min-height: $footer-height;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  border: none;
}

.footerInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px;
}

.footerCategory {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  padding: 10px;
}

.footerLabel {
  font-size: 20px;
  margin-bottom: 14px;
}

.footerItem {
  font-size: 16px;
  margin: 3px 0;
}

.patreonImage {
  width: 64px;
  height: auto;
}

.newDeckContainer {
  height: $builder-height;
}
.createDeckOptions {
  width: 80%;
  margin: 7% auto;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;
  justify-items: center;
}

.createNewDeckZone {
  border: 2px solid rgba(105, 16, 112, 0.8);
  border-radius: 6px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 460px;
  height: 690px;
  position: relative;
}

.newDeckTitle {
  font-family: $header-font;
  font-size: 48px;
  color: $light-text;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.fieldTitle {
  font-family: $body-font;
  color: $light-text;
  font-size: 26px;
}

.nullFieldTitle {
  color: $null-color;
  opacity: 0.5;
  cursor: not-allowed;
}

.newDeckField {
  height: 44px;
  width: 100%;
  font-size: 28px;
  margin-top: 4px;
  background-color: $input-color;
  text-indent: 12px;
  border-radius: 6px;
  border: none;
}

.nullNewDeckField {
  background-color: $null-color;
  opacity: 0.5;
  cursor: not-allowed;
}

.newFormatContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.newDeckFormatField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  height: 44px;
  font-size: 26px;
  font-family: $body-font;
  margin: 4px 0 14px 0;
  background-color: $input-color;
  word-wrap: break-word;
  width: 100%;
  border-radius: 6px;
}

.commanderAutofillContainer {
  position: absolute;
  top: 76px;
  right: 0;
  background-color: lightgrey;
  border: 2px solid $secondary-color;
  display: flex;
  flex-direction: column;
  min-width: 50%;
  text-align: center;
  max-height: 300px;
  overflow-y: auto;
  z-index: 10;
}

.commanderAutofill {
  font-size: 20px;
  font-family: $body-font;
}

.biglyOR {
  font-family: $header-font;
  font-size: 48px;
  color: $light-text;
}

.importDeckZone {
  width: 100%;
  position: relative;
}

.inputFileLabel {
  padding-bottom: 0px;
  border-bottom: solid 2px rgba(105, 16, 112, 0.8);
  width: fit-content;
  font-family: $header-font;
  font-size: 60px;
  color: $light-text;
  cursor: pointer;
}

.infoIcon {
  position: absolute;
  top: -10px;
  right: 50;
  width: 24px;
  height: 24px;
  opacity: 1;
}

.tooltip {
  opacity: 1;
}

// Search Classes
.searchbarContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 15px 1%;
  border-bottom: 2px solid rgba(238, 163, 245, 0.07);
  height: 88px;
}

.searchGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.listAddContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
}

.listAdd {
  font-family: $body-font;
  font-size: 24px;
  color: $light-text;
}

.listAddIcon {
  width: 22px;
  height: 22px;
}

.searchVR {
  width: 1px;
  background-color: rgba(238, 163, 245, 0.07);
  height: 100%;
  margin: 0 8px;
}

.boardGroup {
  width: 40%;
  height: 85%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.searchArea {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 1;
  background-color: #f0ecf9;
  border: 3px solid $primary-color;
  border-radius: 100px;
  padding: 0 12px 0 4px;
  box-shadow: 0 0 16px -2px rgba(238, 226, 43, 0.5);
  transition: all 0.1s;
}

.focusedSearch {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  transition: all 0.05s;
}

.searchContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.search {
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 28px;
  text-align: left;
  text-indent: 12px;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 100px;
  border: none;
}

.searchBar {
  color: $dark-background-color;
  z-index: 2;
  opacity: 0.7;
  position: relative;
  background-color: transparent;
}

.ghostBar {
  color: $null-color;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  background-color: transparent;
}

.searchIcon {
  height: 40px;
  width: auto;
  z-index: 2;
  cursor: pointer;
}

.searchOptions {
  position: absolute;
  top: 52px;
  left: 0;
  width: 100%;
  max-height: 50vh;
  border: 3px solid $primary-color;
  padding: 4px 6px;
  background-color: $light-text;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  color: $light-text;
  background-color: $dark-background-color;
  box-shadow: 0 0 16px -2px rgba(238, 226, 43, 0.5);
}

.searchResultItem {
  font-size: 22px;
  text-align: left;
  text-indent: 2px;
  font-family: $body-font;
  padding: 8px 4px;
  margin: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 2px;
}

.currentResultItem {
  background-color: $secondary-color;
  color: $dark-background-color;
}

.loadingContainer {
  position: absolute;
  height: 100%;
  z-index: 3;
  display: flex;
  flex-direction: row;
}

.loadingCircle {
  width: 10px;
  height: 10px;
  background-color: $dark-background-color;
  border-radius: 50%;
  margin: 0 2px;
}

// Utility

#draggable {
  cursor: move;
}

.hidden {
  visibility: hidden;
  display: none;
}

.noHover {
  pointer-events: none;
}

.notAllowed {
  cursor: not-allowed;
  color: darken($null-color, 20%);
}

.sillyMessage {
  font-family: $body-font;
  color: $light-text;
  position: absolute;
  top: 180vh;
  right: 15vw;
}

.smallDiv {
  display: inline-block;
  @include respond-to("medium") {
    display: none;
  }
}

.largeDiv {
  display: none;
  @include respond-to("medium") {
    display: inline-block;
  }
}
