@import "./core";

.cardColorContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1px;
  row-gap: 1px;
  position: absolute;
  visibility: visible;
  z-index: 5;
  left: 0;
  top: 2px;
  right: 0;
  bottom: 0;
  min-width: 0;
  height: 0;
  color: black;
  padding: $card-border calc(#{$card-border} + 2px);
}

.manaHover {
  opacity: 0.75;
  transition: 0.45s;
}

.deckColorContainer {
  display: flex;
  flex-direction: column;
  margin: 12px;
  pointer-events: none;
}

.colorSymbolContainer {
  display: flex;
  flex-direction: row-reverse;
  pointer-events: none;
}

.deckColorDot {
  height: 26px;
  width: 26px;
  border-radius: 100%;
  background: transparent;
  display: block;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 3px;
  pointer-events: none;
}

.colorBarContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  padding-bottom: 12px;
  pointer-events: none;
}

.colorBar {
  width: 18px;
  margin: 7px;
  pointer-events: none;
}

.redBar {
  background-color: darkred;
  border: 1px solid black;
}

.blueBar {
  background-color: darkblue;
  border: 1px solid black;
}

.greenBar {
  background-color: darkgreen;
  border: 1px solid black;
}

.whiteBar {
  background-color: whitesmoke;
  border: 1px solid black;
}

.blackBar {
  background-color: lighten(black, 10%);
  border: 1px solid black;
}

.cardColorDot {
  width: 100%;
  border-radius: 100%;
  background: transparent;
  border: 1px solid black;
  display: block;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  filter: contrast(100%);
}

.ghostColorDot {
  filter: gray;
  filter: grayscale(0.85);
  -webkit-filter: grayscale(0.85);
}

.blue {
  content: url("../utils/images/mana/BlueMana.png");
  border: 1px solid black;
}
.black {
  content: url("../utils/images/mana/BlackMana.png");
  border: 1px solid black;
}
.green {
  content: url("../utils/images/mana/GreenMana.png");
  border: 1px solid black;
}
.red {
  content: url("../utils/images/mana/RedMana.png");
  background-color: darkred;
  border: 1px solid black;
}
.white {
  content: url("../utils/images/mana/WhiteMana.png");
  border: 1px solid black;
}
.C {
  content: url("../utils/images/mana/ColorlessMana.png");
}
.X {
  content: url("../utils/images/mana/XMana.png");
}
.S {
  content: url("../utils/images/mana/SnowMana.png");
}
.mana0 {
  content: url("../utils/images/mana/0Mana.png");
}
.mana1 {
  content: url("../utils/images/mana/1Mana.png");
}
.mana2 {
  content: url("../utils/images/mana/2Mana.png");
}
.mana3 {
  content: url("../utils/images/mana/3Mana.png");
}
.mana4 {
  content: url("../utils/images/mana/4Mana.png");
}
.mana5 {
  content: url("../utils/images/mana/5Mana.png");
}
.mana6 {
  content: url("../utils/images/mana/6Mana.png");
}
.mana7 {
  content: url("../utils/images/mana/7Mana.png");
}
.mana8 {
  content: url("../utils/images/mana/8Mana.png");
}
.mana9 {
  content: url("../utils/images/mana/9Mana.png");
}
.mana10 {
  content: url("../utils/images/mana/10Mana.png");
}
.mana11 {
  content: url("../utils/images/mana/11Mana.png");
}
.mana12 {
  content: url("../utils/images/mana/12Mana.png");
}
.mana13 {
  content: url("../utils/images/mana/13Mana.png");
}
.mana14 {
  content: url("../utils/images/mana/14Mana.png");
}
.mana15 {
  content: url("../utils/images/mana/15Mana.png");
}
.mana16 {
  content: url("../utils/images/mana/16Mana.png");
}
.mana17 {
  content: url("../utils/images/mana/17Mana.png");
}
.mana18 {
  content: url("../utils/images/mana/18Mana.png");
}
.mana19 {
  content: url("../utils/images/mana/19Mana.png");
}
.mana20 {
  content: url("../utils/images/mana/20Mana.png");
}
.Uor2 {
  content: url("../utils/images/mana/Uor2Mana.png");
}
.Bor2 {
  content: url("../utils/images/mana/Bor2Mana.png");
}
.Gor2 {
  content: url("../utils/images/mana/Gor2Mana.png");
}
.Wor2 {
  content: url("../utils/images/mana/Wor2Mana.png");
}
.Ror2 {
  content: url("../utils/images/mana/Ror2Mana.png");
}
.RorW {
  content: url("../utils/images/mana/RorWMana.png");
}
.GorU {
  content: url("../utils/images/mana/GorUMana.png");
}
.BorG {
  content: url("../utils/images/mana/BorGMana.png");
}
.BorR {
  content: url("../utils/images/mana/BorRMana.png");
}
.GorW {
  content: url("../utils/images/mana/GorWMana.png");
}
.RorG {
  content: url("../utils/images/mana/RorGMana.png");
}
.UorB {
  content: url("../utils/images/mana/UorBMana.png");
}
.UorR {
  content: url("../utils/images/mana/UorRMana.png");
}
.WorB {
  content: url("../utils/images/mana/WorBMana.png");
}
.WorU {
  content: url("../utils/images/mana/WorUMana.png");
}
.UP {
  content: url("../utils/images/mana/UPMana.png");
}
.GP {
  content: url("../utils/images/mana/GPMana.png");
}
.RP {
  content: url("../utils/images/mana/RPMana.png");
}
.BP {
  content: url("../utils/images/mana/BPMana.png");
}
.WP {
  content: url("../utils/images/mana/WPMana.png");
}

.HW {
  content: url("../utils/images/mana/HalfWhiteMana.png");
  width: 8.5px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
